


/* Begin of reseting browser default  */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of reseting browser default  */



:root{
    --background-color: rgb(240,238,241);
    --buttons-background-color: rgb(239,239,239);
    --nav-background-color: rgb(255,251,251);
    --hover-addingBooks:rgb(216,216,216)
}
html{
    text-align: center;
    position:relative; 
    min-height: 100%;
  }
body{
    background-color: var(--background-color);
}

h1{
    font-size: 2rem;
    padding: 15px;
}
/* buttons */
.buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.account, .logging{
    background-color: var(--buttons-background-color);
    border-radius: 5px;
    border: solid gray 1px;
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    }
    .account:hover, .logging:hover, .addingBooksBtn:hover{
        background-color: var(--hover-addingBooks);
    }
.account{
    display: none;
}
.nav{
    height:150px;
    background-color: var(--nav-background-color);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.container2{
 
    padding-top:20px;
    text-align: center;
       
}

.addingBooksBtn{
    width: 350px;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    
}

.footer{
    box-shadow: 20px 20px 50px 10px var(--hover-addingBooks) inset;
    padding-top:13px;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
    left: 0;
    right: 0;
    height:25px;
    background:var(--nav-background-color);
}
.fa-github{
    color: black;
    
}


/*  after clicking on '+ add book' */
.container{
    padding-top: 15px;
    padding-bottom:25px ;
    justify-content: center;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 15px;
    background-color: firebrick;
    width: 250px;
    height: 250px;
    border: none;
    border-radius: 5px;
    background-color: white;    
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
.bookTitle,.bookAuthor, .bookPages {
    color: black;
    font-size: 1.3rem;
    
}
.bookRead, .bookDelete{
    background-color: var(--buttons-background-color);
    height: 50px;
    font-size: 1.5rem;
    border-radius: 5px;
    width: 250px;
   

}
.bookUnRead{
    background-color: red;
    height: 50px;
    width: 250px;
    font-size: 1.5rem;
    border-radius: 5px;
  
}
